*{
    margin: 0;
    padding: 0;
}

/* ================================================= */
/*      CSS FOR (OPEN HOUSE DETAILS) PAGE STARTS     */
/* ================================================= */

#Open_House_Details nav img{
    height: 35px;
}

.open-house .banner{
    background-image: url("../images/banner.png");
    background-size: 100% 100%;
    height: 300px;
    background-repeat: no-repeat;
}

#Open_House_Details #close{
    color: #B2B2B2;
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

#Open_House_Details #p1{
    color: #B2B2B2;
    font-size: 17px;
}



#Open_House_Details #btn-in, #Open_House_Details #btn-out{
    height: 45px;
    width: 150px;
    font-size: 14px;
    border-radius: 6px;
}

#Open_House_Details #btn-in:hover{
    background-color: white;
    border:2px solid #DC3545;
    color: #DC3545;
}

#Open_House_Details .details img{
    height: 30px;
    width: 30px;
}

#Open_House_Details .details{
    margin: 0 auto;
    color: #B2B2B2;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    max-width: 800px;
}

#Open_House_Details footer{
    border-top:1px solid #B2B2B2;
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 700px) {

    #Open_House_Details #details-list{
        width: 250px;
    }
}

/* ================================================= */
/*       CSS FOR (OPEN HOUSE DETAILS) PAGE ENDS      */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*      CSS FOR (OPEN HOUSE SIGN IN) PAGE STARTS     */
/* ================================================= */


#Open_House_Sign_In nav img{
    height: 35px;
}

.open-house .banner{
    background-image: url("../images/banner.png");
    background-size: 100% 100%;
    height: 300px;
    position: relative;
    background-repeat: no-repeat;
}

#Open_House_Sign_In #close{
    color: #B2B2B2;
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

#Open_House_Sign_In .content{
    border:1px solid #B2B2B2;
    border-radius: 8px;
    background-color: white;
    max-width: 800px;
}

#Open_House_Sign_In #p1{
    color: #B2B2B2;
    font-size: 17px;
}

#Open_House_Sign_In .content label{
    color: #B2B2B2;
    font-size: 14px;
    text-align: left;
}

#Open_House_Sign_In .content input, #Open_House_Sign_In .content select{
    height: 45px;

    border:1px solid #B2B2B2;
    border-radius: 8px;
}

#Open_House_Sign_In #btn-back, #Open_House_Sign_In #btn-save{
    height: 45px;
    width: 150px;
    font-size: 14px;
    border-radius: 8px;
}

#Open_House_Sign_In #btn-save:hover{
    background-color: white;
    border:2px solid #DC3545;
    color: #DC3545;
}


#Open_House_Sign_In #rights{
    font-size: 12px;
    text-align: center;
}


/* ================================================= */
/*       CSS FOR (OPEN HOUSE SIGN IN) PAGE ENDS      */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*      CSS FOR (OPEN HOUSE SIGN OUT) PAGE STARTS    */
/* ================================================= */


#Open_House_Sign_Out nav img{
    height: 35px;
}

.open-house .banner{
    background-image: url("../images/banner.png");
    background-size: 100% 100%;
    height: 300px;
    position: relative;
    background-repeat: no-repeat;
}

#Open_House_Sign_Out #close{
    color: #B2B2B2;
    height: 40px;
    width: 40px;
    float: right;
    margin-top: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

#Open_House_Sign_Out .content{
    border:1px solid #B2B2B2;
    border-radius: 8px;
    background-color: white;
    max-width: 800px;
}

#Open_House_Sign_Out #p1{
    color: #B2B2B2;
    font-size: 17px;
}

#Open_House_Sign_Out .content label{
    color: #B2B2B2;
    font-size: 14px;
    text-align: left;
}

#Open_House_Sign_Out .content input, #Open_House_Sign_Out .content select, #Open_House_Sign_Out .content textarea{
    height: 45px;
    width: 100%;
    border:1px solid #B2B2B2;
    border-radius: 8px;
}

#Open_House_Sign_Out #btn-back, #Open_House_Sign_Out #btn-save{
    height: 45px;
    width: 150px;
    font-size: 14px;
    border-radius: 8px;
}

#Open_House_Sign_Out #btn-save:hover{
    background-color: white;
    border:2px solid #DC3545;
    color: #DC3545;
}


#Open_House_Sign_Out #rights{
    font-size: 12px;
    text-align: center;
}

@media screen and (max-width: 700px) {

    .open-house .banner{
        background-size: auto 100%;
        height: 250px;
    }

}


/* ================================================= */
/*      CSS FOR (OPEN HOUSE SIGN OUT) PAGE ENDS      */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*            CSS FOR (SIGN IN) PAGE STARTS          */
/* ================================================= */


#sign-in .body{
    width:100%;
    height:100vh;
    background:url('../images/bg.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    overflow:hidden;
}

#sign-in .content{
    max-width: 700px;
    margin-bottom: 50px;
}

#sign-in .content .row{
    border:1px solid #F0F0F0;
    border-radius: 20px;
}


#sign-in #reg{
    background-color: rgba(250,250,250,0.9);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 180px;
}

#sign-in #reg p{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

#sign-in #reg button{
    background-color: rgba(0,0,0,0);
    width: 250px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

#sign-in #reg button:hover{
    background-color: #CC343E;
    color: white;
}

#sign-in #sign{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    padding: 70px 60px ;
}

#sign-in #sign label{
    color: #B2B2B2;
    font-size: 14px;
}

#sign-in #sign input{
    border-radius: 8px;
}

#sign-in #sign a{
    color: #CC343E;
    font-size: 15px;
}

#sign-in #sign button{
    font-size: 14px;
    height: 40px;
    border-radius: 8px;
}

#sign-in #sign button:hover{
    background-color: white;
    border:2px solid #CC343E;
    color: #CC343E;
}

#sign-in footer{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 605px) {

    #sign-in .body{
        height: auto;
    }

    #sign-in #reg{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #sign-in #sign{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
}


/* ================================================= */
/*             CSS FOR (SIGN IN) PAGE ENDS           */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*           CSS FOR (REGISTER) PAGE STARTS          */
/* ================================================= */


#register .body{
    width:100%;
    height:100vh;
    background:url('../images/bg.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    overflow:hidden;
}

#register .content{
    max-width: 700px;
}

#register .content .row{
    border:1px solid #F0F0F0;
    border-radius: 20px;
}


#register #sign{
    background-color: rgba(250,250,250,0.9);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 200px;
}

#register #sign p{
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
}

#register #sign button{
    background-color: rgba(0,0,0,0);
    width: 250px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
}

#register #sign button:hover{
    background-color: #CC343E;
    color: white;
}

#register #reg{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    padding: 0px 50px ;
}

#register #reg label{
    color: #B2B2B2;
    font-size: 14px;
}

#register #reg input{
    border-radius: 8px;
}

#register #reg a{
    color: #CC343E;
    font-size: 13px;
    font-weight: normal;
}

#register #reg button{
    font-size: 14px;
    height: 40px;
    border-radius: 8px;
}

#register #reg button:hover{
    background-color: white;
    border:2px solid #CC343E;
    color: #CC343E;
    font-weight: bold;
}

#register footer{
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 605px) {

    #register .body{
        height: auto;
    }

    #register #sign{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #register #lname{
        padding-left: 40px;
    }
    #register #reg{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
}


/* ================================================= */
/*             CSS FOR (REGISTER) PAGE ENDS          */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*       CSS FOR MAIN LAYOUT OF ALL PAGES STARTS     */
/* ================================================= */


.main-layout #topbar{
    height: 60px;
}

.main-layout #topbar a img{
    height: 35px;
    max-width: 160px;
}

.main-layout #drop{
    float: right;
}

.main-layout #drop ul li{
    border:none;
}

.main-layout #drop button{
    padding: 0;
    border-radius: 360px;
    border:none;
}

.main-layout #btn1{
    border-radius: 360px;
    background-color: #F2C9CD;
    height: 40px;
    width: 40px;
}

.main-layout #btn1 img{
    margin-top: -4px;
    height: 20px;
    width: 20px;
}


.main-layout #drop .dropdown-menu{
    margin-top: 55px;
    margin-right: -45px;
    border-radius: 0px;
    border:1px solid #F0F0F0;
    border-top:none;
    padding: 0px;
}

.main-layout #drop .dropdown-item{
    padding: 10px 15px;
    border:1px solid #F0F0F0;
    color: #9D9D9D;
    font-size: 14px;
}

.main-layout #drop .dropdown-item:hover{
    background-color: #CD343F;
    color: white;
}

.main-layout #drop img{
    height: 40px;
    width: 40px;
}


.main-layout #sidebar{
    width: 300px;
    height: auto;
}


.main-layout #sidebar ul li{
    padding: 5px 0px;
}

.main-layout #sidebar ul li:hover{
    background-color: #FAF2F2;

    border-top-right-radius: 180px;
    border-bottom-right-radius: 180px;
}

.main-layout #sidebar ul li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.main-layout #sidebar ul li a i{
    margin-left: 15px;
    margin-right: 8px;
    color: #B4B4B4;
}

.main-layout #sidebarmenu{
    background-color: #DC3545;
    color: white;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-radius: 0px;
}

.main-layout #sidebarmenu:hover{
    box-shadow: 10px 0px 15px rgba(160,160,160,0.8)
}

.main-layout #sidebarmenu:focus{
    outline: none;
}

.main-layout .content{
    height: 150px;
    background-image: url("../images/bg-2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main-layout .content .content-body{
    border:1px solid #F0F0F0;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    background-color: white;
    border-radius: 20px;
    max-width: 770px;
    margin: 0 auto;
    margin-top: -265px;
    margin-bottom: 30px;
}

.main-layout .content .footer{
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width: 1100px) {
    .main-layout .content .row{
        margin-top: 0px;
    }
}


/* ================================================= */
/*       CSS FOR MAIN LAYOUT OF ALL PAGES ENDS       */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*         CSS FOR (HOME SCREEN) PAGE STARTS         */
/* ================================================= */


#home .content .content-body #user{
    height: 130px;
    margin-bottom: 20px;
}

#home .content .content-body p{
    font-size: 13px;
    color: black;
    font-weight: bold;
}

#home .content .content-body button{
    border:1px solid #D93149;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #D93149;
    width: 170px;
    height: 100px;
    padding: 15px 0px;
    margin: 10px;
}

#home .content .content-body button:hover{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

#home .content .content-body button img{
    height: 40px;
    margin-bottom: 5px;
}


/* ================================================= */
/*          CSS FOR (HOME SCREEN) PAGE ENDS          */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*          CSS FOR (VIEW LEADS) PAGE STARTS         */
/* ================================================= */


#view-leads #cards .card{
    border-radius: 10px;
}

#view-leads #cards .card-title{
    font-size: 20px;
}

#view-leads #cards .card-text img{
    height: 15px;
    margin-right: 8px;
}

#view-leads #cards .card-text a{
    font-size: 11px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#view-leads #cards .card-footer a{
    color: #D93149;
    font-weight: bold;
}

#view-leads .content-body #more{
    color: #D93149;
    font-size: 12px;
    font-weight: bold;
}

/* ================================================= */
/*           CSS FOR (VIEW LEADS) PAGE ENDS          */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*       CSS FOR (LEADS DETAILS) PAGE STARTS         */
/* ================================================= */

#leads-details .content-body{
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
}



#leads-details .content form #name{
    height: 60px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    border:none;
}

#leads-details .content form label{
    color: #B2B2B2;
    font-size: 12px;
}


#leads-details .content input, #leads-details .content select{
    height: 40px;
    border:1px solid #B2B2B2;
    border-radius: 8px;
}

#leads-details .content .content-body button{
    font-size: 14px;
    font-weight: 600;
    color: #D93149;
}

.leads-details-button{
    width: 170px;
    height: 100px;
    padding: 15px 0;
    margin: 10px;
    border:1px solid #D93149;
    border-radius: 6px;
}

.leads-details-button:hover{
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
}

#leads-details .content .content-body button img{
    height: 25px;
    margin-bottom: 10px;
}

#leads-details .content-body #close {
    color: #B2B2B2;
    font-weight: bold;
    line-height: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -6%;
    top: -5%;
    margin-top: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

@media screen and (max-width: 700px) {
    #leads-details .content-body{
        padding-left: 10px;
        padding-right: 10px;
    }
    #leads-details .content-body #close{
        right: 0%;
        top: 0%;
    }
}

/* ================================================= */
/*         CSS FOR (LEADS DETAILS) PAGE ENDS         */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*       CSS FOR (MY PROPERTIES) PAGE STARTS         */
/* ================================================= */


#my-properties #cards .card{
    border-radius: 10px;
}

#my-properties #cards .card-title{
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 2px;
}

#my-properties .client{
    display: inline-block;
    margin-top: -10px;
}

#my-properties #cards .card-text{
    display: inline-block;
}

#my-properties #cards .card-text a{
    font-size: 12px;
    text-decoration: none;
    color: #B4B4B4;
}

#my-properties #cards button, #my-clients #cards button{
    color: #D93149;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 14px;
    font-weight: bold;
}

#my-properties #cards button:focus, #my-clients #cards button:focus{
    outline: none;
}

#my-properties #cards button i, #my-clients #cards button i{
    border:1px solid #D93149;
    border-radius: 360px;
    padding: 7px;
    font-size: 10px;
}

#my-properties #cards .card-footer a{
    color: #D93149;
    font-weight: bold;
    margin-top: -20px;
}

#my-properties .content-body #more{
    color: #D93149;
    font-size: 12px;
    font-weight: bold;
}


/* ================================================= */
/*       CSS FOR (MY PROPERTIES) PAGE ENDS           */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*      CSS FOR (Account Details) PAGE STARTS        */
/* ================================================= */


#account-details .content-body{
    position: relative;
}

#account-details .content-body .profile-pic{
    background-color: #EEEEEE;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#account-details .content-body .profile-pic #special{
    margin: 150px auto;
    width: auto;
}

#account-details .content-body .profile-pic #special button{
    margin-top: 145px;
    margin-left: -50px;
    color: #CCCCCC;
    background-color: white;
    font-size: 21px;
    height: 35px;
    width: 35px;
    padding: 5px;
    padding-top: 0px;
    border-radius: 360px;
}

#account-details .content-body .profile-pic img{

    border: 5px solid white;
    border-radius: 360px;
}

#account-details .content-body #close {
    color: #B2B2B2;
    font-weight: bold;
    line-height: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

#account-details .content-body form #caption{
    display: block;
    border-bottom:1px solid black;
    font-size: 14px;
}

#account-details .content-body form label{
    color: #B2B2B2;
    font-size: 12px;
}

#account-details .content-body form input, #account-details .content-body form button{
    border-radius: 8px;
    height: 35px;
}

#account-details .content-body form button:hover{
    background-color: white;
    color: #D93149;
    border:2px solid #D93149;
}

@media screen and (max-width: 700px) {
    #account-details .content-body .profile-pic #special{
        margin: 30px auto;
    }
    #account-details .content-body .profile-pic{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
}


/* ================================================= */
/*      CSS FOR (Account Details) PAGE ENDS          */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*      CSS FOR (Add New Property) PAGE STARTS       */
/* ================================================= */


#add-new-property .content-body{
    position: relative;
}

#add-new-property .content-body .slider{
    background-color: #eeeeee;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#add-new-property .content-body .slider #upload{
    margin-top: 220px;
    margin-bottom: 150px;
    width:150px;
}


#add-new-property .content-body .slider #add{
    border: 1px dashed white;
    height: 50px;
    width: 50px;
    background-color: #F3F3F3;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#add-new-property .content-body .slider #add:hover{
    border-color: #D93149;
}


#add-new-property .content-body .slider #add i{
    border:1px solid #D93149;
    color: #D93149;
    border-radius: 360px;
    padding: 7px;
    font-size: 10px;
}

#add-new-property .content-body .details{
    padding: 50px 35px 20px;
}

#add-new-property .content-body #close {
    color: #B2B2B2;
    font-weight: bold;
    line-height: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

#add-new-property .content-body form .row{
    margin-bottom: 3px;
}

#add-new-property .content-body form .col-sm-6, #add-new-property .content-body form .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
}

#add-new-property .content-body form img{
    height: 30px;
    margin-right: 10px;
}

#add-new-property .content-body form label{
    color: #B2B2B2;
    font-size: 12px;
    font-weight: 400;
}

#add-new-property .content-body form input, #add-new-property .content-body form select{
    border-radius: 6px;
    height: 35px;
    font-size: 12px;
}

#add-new-property .content-body form .add-input-2{
    margin-top: 3px;
}

#add-new-property .content-body form button{
    border-radius: 8px;
    height: 45px;
}

#add-new-property .content-body form button:hover{
    background-color: white;
    color: #D93149;
    border:2px solid #D93149;
}

@media screen and (max-width: 650px) {
    #add-new-property .content-body .slider{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    #add-new-property .content-body form .col-sm-6{
        margin-bottom: 5px;
    }
    #add-new-property .content-body form .row{
        margin-bottom: 20px;
    }
    #add-new-property .content-body form .add-input-2{
        margin-top: -5px;
    }

}

/* ================================================= */
/*      CSS FOR (Add New Property) PAGE ENDS         */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*      CSS FOR (Property Details) PAGE STARTS       */
/* ================================================= */


#property-details .content-body{
    position: relative;
}

#property-details .content-body #carousel img, #add-new-property .content-body #carousel img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
}

#property-details .content-body #carousel i, #add-new-property .content-body #carousel i{
    color: white;
    font-size: 35px;
}



#property-details .content-body .details{
    padding: 50px 35px 20px;
}

#property-details .content-body #close {
    color: #B2B2B2;
    font-weight: bold;
    line-height: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0%;
    top: 0%;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

#property-details .content-body #property-address{
    border:none;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 500;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

#property-details .content-body form .row{
    margin-bottom: 10px;
    border-bottom: 1px solid #E4E4E4;
}

#property-details .content-body form .col-sm-6, #property-details .content-body form .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
}

#property-details .content-body form img{
    height: 30px;
    margin-right: 10px;
}

#property-details .content-body form label{
    color: #B2B2B2;
    font-size: 12px;
    font-weight: 400;
}

#property-details .content-body form input, #property-details .content-body form select{
    border-radius: 6px;
    border:none;
    height: 35px;
    font-size: 12px;
}

#property-details .content-body form button{
    border-radius: 8px;
    height: 40px;
    margin: 0 auto;
}

#property-details .content-body form button:hover{
    background-color: white;
    color: #D93149;
    border:1px solid #D93149;
}

#property-details .content-body form #reports:hover{
    background-color: #DC3545;
    color: white;
}

@media screen and (max-width: 650px) {
    #property-details .content-body #carousel img, #add-new-property .content-body #carousel img{
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }
    #property-details .content-body form .col-sm-6{
        margin-bottom: 5px;
    }
    #property-details .content-body form .row{
        margin-bottom: 20px;
    }
}

/* ================================================= */
/*      CSS FOR (Property Details) PAGE ENDS         */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*         CSS FOR (Open Houses) PAGE STARTS         */
/* ================================================= */

#open-houses .content-body{
    padding: 40px 60px 10px;
    margin-top: -350px;
}

#open-houses .content-body .upcoming-events .card{
    border-radius: 10px;
}

#open-houses .content-body .upcoming-events .card-header{
    background-color: white;
    font-size: 12px;
}

#open-houses .content-body .upcoming-events .date{
    background-color: #DC3545;
    color: white;
    font-size: 15px;
}

#open-houses .content-body .upcoming-events .time{
    border-bottom: 1.5px solid #eeeeee;
    font-size: 15px;
}

#open-houses .content-body .upcoming-events .time i{
    color: #DC3545;
    font-size: 17px;
}

#open-houses .content-body .upcoming-events .activity{
    padding-top: 30px;
    padding-bottom: 30px;
}

#open-houses .content-body .upcoming-events .activity a{
    color: #DC3545;
    font-size: 12px;
    font-weight: 500;
}

#open-houses .content-body .add button{
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
}

#open-houses .content-body .past-events .card{
    border-radius: 10px;
}

#open-houses .content-body .past-events .card-header{
    background-color: white;
    font-size: 12px;
}

#open-houses .content-body .past-events .date{
    background-color: #CCCCCC;
    color: white;
    font-size: 15px;
}

#open-houses .content-body .past-events .time{
    border-bottom: 1.5px solid #eeeeee;
    font-size: 15px;
}

#open-houses .content-body .past-events .time i{
    color: #DC3545;
    font-size: 17px;
}

#open-houses .content-body .past-events .activity p{
    line-height: 0px;
    display: inline-block;
    margin-bottom: 8px;

}

#open-houses .content-body .past-events .activity p img{
    height: 20px;
}

#open-houses .content-body .past-events .activity p .num{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

#open-houses .content-body .past-events .activity p .name{
    font-size: 10px;
    color: #cccccc;
    line-height: 18px;
}

#open-houses .content-body .choose button{
    border: 1px solid #cccccc;
    background-color: #F0F0F0;
    color: #cccccc;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
}

#open-houses .content-body .choose button:hover{
    background-color: #DC3545;
    color: white;
    border: none;
}

#open-houses .content-body .choose button img{
    height: 20px;
    margin-right: 5px;
    margin-top: 0;
}

#open-houses .content-body hr{
    border:1px solid #D93149;
    margin-left: -75px;
    margin-right: -75px;
}

#open-houses .content-body #more{
    color: #D93149;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    #open-houses .content-body{
        padding: 30px 20px 10px;
        margin-top: 0;
    }
    #open-houses .content-body hr{
        margin-left: -30px;
        margin-right: -30px;
    }
}

/* ================================================= */
/*         CSS FOR (Open Houses) PAGE ENDS           */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*     CSS FOR (Open Houses Add Files) PAGE STARTS   */
/* ================================================= */

#open-houses-add-files .content-body{
    padding: 40px 60px 10px;
    margin-top: -350px;
}

#open-houses-add-files .content-body .upcoming-events .card{
    border-radius: 10px;
}

#open-houses-add-files .content-body .upcoming-events .card-header{
    background-color: #DC3545;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 15px;
}

#open-houses-add-files .content-body .upcoming-events .time{
    border-bottom: 1.5px solid #eeeeee;
    font-size: 15px;
}

#open-houses-add-files .content-body .upcoming-events .time i{
    color: #DC3545;
    font-size: 17px;
}

#open-houses-add-files .content-body .upcoming-events .activity{
    padding-top: 30px;
    padding-bottom: 30px;
}

#open-houses-add-files .content-body .upcoming-events .activity a{
    color: #DC3545;
    font-size: 12px;
    font-weight: 500;
}

#open-houses-add-files .content-body .add .card{
    border-radius: 10px;
}

#open-houses-add-files .content-body .add .card-header{
    background-color: #F9E0D9;
    color: #DC3545;
    font-weight: 500;
}

#open-houses-add-files .content-body .add form .date label, #open-houses-add-files .content-body .add form .date input{
    display: inline;

}

#open-houses-add-files .content-body .add form .date input{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70px;
    height: 35px;
    padding-left: 10px;
    font-size: 12px;
}

#open-houses-add-files .content-body .add form #date{
    width: 130px;
}

#open-houses-add-files .content-body .add form label{
    font-size: 12px;
    color: #cccccc;
    font-weight: 500;
}

#open-houses-add-files .content-body .add form #left{
    float: right;
}

#open-houses-add-files .content-body .past-events .card{
    border-radius: 10px;
}

#open-houses-add-files .content-body .past-events .card-header{
    background-color: #CCCCCC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 15px;
}

#open-houses-add-files .content-body .past-events .time{
    border-bottom: 1.5px solid #eeeeee;
    font-size: 15px;
}

#open-houses-add-files .content-body .past-events .time i{
    color: #DC3545;
    font-size: 17px;
}

#open-houses-add-files .content-body .past-events .activity p{
    line-height: 0px;
    display: inline-block;
    margin-bottom: 8px;

}

#open-houses-add-files .content-body .past-events .activity p img{
    height: 20px;
}

#open-houses-add-files .content-body .past-events .activity p .num{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
}

#open-houses-add-files .content-body .past-events .activity p .name{
    font-size: 10px;
    color: #cccccc;
    line-height: 18px;
}

#open-houses-add-files .content-body .choose button{
    border: 1px solid #cccccc;
    background-color: #F0F0F0;
    color: #cccccc;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
}

#open-houses-add-files .content-body .choose button:hover{
    background-color: #DC3545;
    color: white;
    border: none;
}

#open-houses-add-files .content-body .choose button img{
    height: 20px;
    margin-right: 5px;
    margin-top: 0;
}

#open-houses-add-files .content-body hr{
    border:1px solid #D93149;
    margin-left: -75px;
    margin-right: -75px;
}

#open-houses-add-files .content-body #more{
    color: #D93149;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    #open-houses-add-files .content-body{
        padding: 30px 20px 10px;
        margin-top: 0;
    }
    #open-houses-add-files .content-body hr{
        margin-left: -30px;
        margin-right: -30px;
    }
    #open-houses-add-files .content-body .add form .date label, #open-houses-add-files .content-body .add form .date input{
        display: block;
        width: 100%;
    }
    #open-houses-add-files .content-body .add form #date{
        width: 100%;
    }
    #open-houses-add-files .content-body .add form #left{
        float: left;
    }
}

/* ================================================= */
/*     CSS FOR (Open Houses Add Files) PAGE STARTS   */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*          CSS FOR (MY CLIENTS) PAGE STARTS         */
/* ================================================= */


#my-clients #cards .card{
    border-radius: 10px;
}

#my-clients #cards .card-title{
    font-size: 20px;
}

#my-clients #cards .card-text img{
    height: 15px;
    margin-right: 8px;
}

#my-clients #cards .card-text a{
    font-size: 11px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#my-clients #cards .card-footer a{
    color: #D93149;
    font-weight: bold;
}

#my-clients .content-body #more{
    color: #D93149;
    font-size: 12px;
    font-weight: bold;
}

/* ================================================= */
/*           CSS FOR (MY CLIENTS) PAGE ENDS          */
/* ================================================= */


/* ================================================= */
/* ================================================= */
/*                     NEXT PAGE                     */
/* ================================================= */
/* ================================================= */


/* ================================================= */
/*      CSS FOR (MY CLIENTS DETAILS) PAGE STARTS     */
/* ================================================= */


#my-clients-details .content-body{
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
}

#my-clients-details .content-body #main-col{
    padding-left: 0;
    padding-right: 0;
}

#my-clients-details .content form #name{
    height: 60px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    border:none;
}

#my-clients-details .content form label{
    color: #B2B2B2;
    font-size: 12px;
}


#my-clients-details .content input{
    height: 40px;
    border:1px solid #B2B2B2;
    border-radius: 8px;
}

#my-clients-details .content form h6{
    font-size: 15px;
    margin-right: 40px;
    display: inline-block;
}

#my-clients-details .content form a{
    font-size: 10px;
    text-align: right;
    color: #D93149;
}

#my-clients-details .content form .btn-group button {
    border-radius: 0;
}

#my-clients-details .content form .btn-group button:first-child {
    border-radius: 8px 0 0 8px;
}


#my-clients-details .content form .btn-group button:last-child {
    border-radius: 0 8px 8px 0;
    margin-left: -5px;
}


#my-clients-details .content form #group-buttons .btn1{
    background-color: #D93149;
    border:none;
    height: 48px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

#my-clients-details .content form #group-buttons .btn2{
    background-color: white;
    border:1px solid #C5C5C5;
    height: 48px;
    font-weight: bold;
    font-size: 15px;
}

#my-clients-details .content form #group-buttons .btn2 i{
    color: #D93149;
    font-size: 17px;
}

#my-clients-details .content form #group-buttons .btn1:hover{
    background-color: white;
    border:1px solid #D93149;
    color: #D93149;
}

#my-clients-details .content form #group-buttons .btn2:hover{
    background-color: white;
    border:1px solid #D93149;
    color: #D93149;
}

#my-clients-details .content .content-body #action-btn button{
    border:1px solid #D93149;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    color: #D93149;
    width: 170px;
    height: 100px;
    padding: 15px 0px;
    margin: 10px;
}

#my-clients-details .content .content-body #action-btn button:hover{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

#my-clients-details .content .content-body #action-btn button img{
    height: 25px;
    margin-bottom: 10px;
}

#my-clients-details .content-body #close {
    color: #B2B2B2;
    font-weight: bold;
    line-height: 5px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -6%;
    top: -5%;
    margin-top: 10px;
    border-radius: 180px;
    border:1px solid #B2B2B2;
    background-color: white;
}

@media screen and (max-width: 700px) {
    #my-clients-details .content-body{
        padding-left: 10px;
        padding-right: 10px;
    }
    #my-clients-details .content-body #close{
        right: 0%;
        top: 0%;
    }
    #my-clients-details .content form h6{
        font-size: 15px;
        margin-right: 0px;
        display: block;
    }
    #my-clients-details .content form #group-buttons .btn1, #my-clients-details .content form #group-buttons .btn2{
        padding-left: 5px;
        padding-right: 5px;
    }

}


/* ================================================= */
/*      CSS FOR (MY CLIENTS DETAILS) PAGE ENDS       */
/* ================================================= */

.highlighted-menu-item{
    background-color: #FAF2F2 !important;
    border-top-right-radius: 180px !important;
    border-bottom-right-radius: 180px !important;
}

.highlighted-menu-item a{
    color: #D93149 !important;
    font-weight: bold !important;
}

.highlighted-menu-item i{
    color: #D93149 !important;
}

.hidden{
    display: none;
}

.view-more{
    cursor: pointer;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0;
}

.image_upload:hover{
    cursor: pointer;
}

.user_profile_picture{
    border-radius: 100%;
    max-height: 120px;
}

.help-block{
    color: #D93149;
}

.property_image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}

#img-slider{
    height: 530px;
}

#img-slider img{
    height: 530px;
}