

.container{
    max-width: 1200px;
}


.navbar .collapse_btn{
    margin-top: 15px;
    border:1px solid #CE343E;
}
.navbar .collapse_btn span{
    background-color: #CE343E;
}
.navbar img{
    margin-top: 5px;
    height: 40px;
    width: 200px;
}

.navbar ul{
    margin-top: 20px;
    float: right;
}

.navbar ul li a:hover{
    background-color: rgba(0,0,0,0);
    color: #CE343E;
    text-decoration: underline;
}

.navbar ul li a{
    color: black;
    font-size: 17px;
}

#what{
    background-color: #F3F3F3;
    padding: 40px 0px;
}

#what h1{
    margin-bottom: 30px;
    font-size: 40px;
}

#what p{
    line-height: 35px;
    color: grey;
    margin-bottom: 25px;
    font-size: 18px;
}

#what button{
    background-color: rgba(0,0,0,0);
    border: 1px solid #CE343E;
    margin-right: 8px;
    margin-bottom: 15px;
}

#what button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#what button img{
    height: 40px;
    width: 150px;
}


#how{
    padding: 80px 0px;
}

#how .col-sm-3{
    padding: 30px 25px;
}

#how h1{
    margin-bottom: 60px;
    font-size: 40px;
    text-align: center;
}

#how p{
    margin-top: 35px;
    font-size: 18px;
}


#about{
    background-color: #CE343E;
    padding: 40px 0px;
    color: white;
}

#about h2{
    margin-bottom: 35px;
    font-size: 35px;
}

#about p{
    line-height: 35px;
    font-size: 18px;
    padding-right: 10px;
}

#about button{
    margin-right: 8px;
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 15px;
}

#about button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about button img{
    height: 50px;
    width: 170px;
}

#contact{
    padding: 50px 0px;
}

#contact h1{
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}

#contact input{
    border:none;
    border-radius: 0px;
    background-color: #F3F3F3;
    height: 45px;
    font-size: 18px;
    margin-bottom: 10px;
}

#contact input::placeholder, #contact textarea::placeholder{
    color: black;
}

#contact textarea{
    border:none;
    border-radius: 0px;
    background-color: #F3F3F3;
    min-height: 170px;
    font-size: 18px;
    margin-bottom: 10px;
}

#contact button{
    padding: 0;
    border-radius: 360px;
}

#contact button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact button img{
    height: 65px;
    width: 65px;
}

#contact button:focus{
    border-radius: 360px;
}

footer{
    background-color: black;
    padding: 30px 0px;
}


@media screen and (max-width: 700px) {
    .navbar img{
        margin-top: 0;
    }
    .navbar .collapse_btn{
        margin-top: 20px;
    }
    .navbar ul {
        float: left;
        margin-left: 30px;
    }
    #about .row{
        padding: 0px 15px;
    }
    #contact iframe{
        width: 100%;
    }
}